html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    text-align: center;
    background-color: #35393f;
    font-family: 'Times New Roman', serif;
}

h1 {
    color: #f9d767;
    font-size: 8rem;
    text-shadow: 0px 1.5px 0px #BFA251;
}

h2, h3 {
    color: white;
    font-size: 3rem;
}

p {
    color: white;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

p > a {
    color: #f9d767;
    transition: ease .3s;
}

p > a > i, p > a > i:hover {
    font-size: 1.2rem;
    text-decoration: none;
}

p > a:hover, p > a:active, p > a:focus {
    color: #f9d767;
    text-decoration: underline;
}

.p_startseite {
    width: 60%;
    margin: 0 auto;
}

.info_text {
    text-align: left;
    padding: 0 8rem 0 2rem;
}

section {
    min-height: 100vh;
}

hr {
    width: 25vw;
    height: 1px;
    background: #f9d767;
    border: 0;
}

/**** header***/

header {
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    background: #35393f;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.logo {
    height: 4rem;
    float: left;
    margin: 1rem 3rem;
}

header nav {
    float: right;
}

header li {
    display: inline-block;
    line-height: 6rem;
    margin: 0 2rem;
    font-size: 2rem;
}

header li > a {
    color: white;
    text-decoration: none;
    transition: ease .3s;
}

header li > a:hover, header li > a:focus {
    color: #f9d767;
    text-decoration: none;
}

/**** HeroImage***/

/*
#HeroImage {
  background: url(../img/landing.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
*/

#HeroImage, #HeroImage h1 {
  margin: 0 auto;
}

.startbtn, .startbtn:visited {
    display: block;
    color: #f9d767;
    font-size: 2.5rem;
    border: 1px solid #f9d767;
    margin: 4rem auto;
    padding: .5rem 1.5rem;
    width: 20vw;
    text-align: center;
    background-color: transparent;
    transition: ease .3s;
}

.startbtn:hover, .startbtn:active, .startbtn:focus {
    color: #35393f;
    border: 1px solid transparent;
    background-color: #f9d767;
    text-decoration: none;
}

.infobtn, .infobtn:visited {
    display: block;
    color: #f9d767;
    font-size: 1.75rem;
    border: 1px solid #f9d767;
    padding: .5rem 1.5rem;
    margin-top: 4rem;
    width: 15vw;
    text-align: center;
    background-color: transparent;
    transition: ease .3s;
}

.infobtn:hover, .infobtn:active, .infobtn:focus {
    color: #51565E;
    border: 1px solid transparent;
    background-color: #f9d767;
    text-decoration: none;
}

/**** BACKGROUND ***/

section:nth-child(odd) {background-color: #35393f;}
section:nth-child(even) {background-color: #51565E;}

section {
    padding: 7rem 2rem 4rem 2rem;
    max-height: 100vh;
    max-width: 100vw;
}

.fragen1 li {
    display: inline-block;
    padding: 0 1rem;
    border: 1px solid white;
    width: calc(100vw/8);
    color: white;
    font-size: 2rem;
    height: 10rem;
}

.fragen1 li:hover {
    display: inline-block;
    border: 1px solid yellow;
    color: yellow;
}

/**** Graph1***/

#chart1 {
  max-width: 650px;
  margin: 35px auto;
}

/**** Graph2***/

#chart2 {
  max-width: 650px;
  margin: 35px auto;
}

/**** Graph3***/

#chart3 {
  max-width: 650px;
  margin: 35px auto;
}

/**** Footer***/
