html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    text-align: center;
    background-color: #35393f;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #f9d767;
    font-size: 8rem;
    text-shadow: 0px 1.5px 0px #BFA251;
    font-family: 'Noto Serif', serif;
}

h2, h3 {
    color: white;
    font-size: 3rem;
    font-family: 'Noto Serif', serif;
}

p {
    color: white;
    font-size: 1.8rem;
    line-height: 2.4rem;
    width: 70%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

p > a {
    color: #f9d767;
    transition: ease .3s;
}

p > a > i, p > a > i:hover {
    font-size: 1.2rem;
    text-decoration: none;
}

p > a:hover, p > a:active, p > a:focus {
    color: #f9d767;
    text-decoration: underline;
}

.p_startseite {
    width: 60%;
    margin: 0 auto;
}

.info_text {
    text-align: left;
    padding: 0 8rem 0 2rem;
}

section {
    min-height: 100vh;
}

hr {
    width: 25vw;
    height: 1px;
    background: #f9d767;
    border: 0;
}

/**** header***/

header {
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    background: #51565E;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.logo {
    height: 4rem;
    float: left;
    margin: 1rem 3rem;
}

header nav {
    float: right;
}

header li {
    display: inline-block;
    line-height: 6rem;
    margin: 0 2rem;
    font-size: 2rem;
}

header li > a {
    color: white;
    text-decoration: none;
    transition: ease .3s;
}

header li > a:hover, header li > a:focus {
    color: #f9d767;
    text-decoration: none;
}

/**** HeroImage***/

/*
#HeroImage {
  background: url(../img/landing.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
*/

#HeroImage, #HeroImage h1 {
  margin: 0 auto;
}

.startbtn, .startbtn:visited {
    display: block;
    color: #f9d767;
    font-size: 2.5rem;
    border: 1px solid #f9d767;
    margin: 4rem auto;
    padding: .5rem 1.5rem;
    width: 20vw;
    text-align: center;
    background-color: transparent;
    transition: ease .3s;
    font-family: 'Noto Serif', serif;
}

.startbtn:hover, .startbtn:active, .startbtn:focus {
    color: #35393f;
    border: 1px solid transparent;
    background-color: #f9d767;
    text-decoration: none;
}

.infobtn, .infobtn:visited {
    display: block;
    color: #f9d767;
    font-size: 1.75rem;
    border: 1px solid #f9d767;
    padding: .5rem 1.5rem;
    margin-top: 4rem;
    width: 15vw;
    text-align: center;
    background-color: transparent;
    transition: ease .3s;
    font-family: 'Noto Serif', serif;
}

.infobtn:hover, .infobtn:active, .infobtn:focus {
    color: #51565E;
    border: 1px solid transparent;
    background-color: #f9d767;
    text-decoration: none;
}

/**** BACKGROUND ***/

section:nth-child(odd) {background-color: #51565E;}
section:nth-child(even) {background-color: #6C7178;}

section {
    padding: 7rem 2rem 4rem 2rem;
    max-height: 100vh;
    max-width: 100vw;
}

.fragen1 li {
    display: inline-block;
    padding: 0 1rem;
    border: 1px solid white;
    width: calc(100vw/8);
    color: white;
    font-size: 2rem;
    height: 10rem;
}

.fragen1 li:hover {
    display: inline-block;
    border: 1px solid yellow;
    color: yellow;
}

#mapchart {
  width: 100%;
  height: 500px;
}

/**** Graph1***/

#chart1 {
    max-width: 650px;
    height: 50%;
    margin: 35px auto;
}

/**** Graph2***/

#chart2 {
    max-width: 650px;
    height: 50%;
    margin: 35px auto;
}

/**** Graph3***/

#chart3 {
    max-width: 650px;
    height: 50%;
    margin: 35px auto;
}

/**** Graph4***/

#chart4 {
    max-width: 650px;
    height: 50%;
    margin: 35px auto;
}

/**** Graph5***/

#chart5 {
    max-width: 650px;
    margin: 35px auto;
    height: 50%;
}

/**** Footer***/

/*Scroll Icon*/

.scroll-downs {
  margin: 2rem auto 0 auto;

  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 1.5px solid #f9d767;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 4px;
  height: 6px;
  border-radius: 25%;
  background-color: #f9d767;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(10px); opacity: 0.5;}
}

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth,
.col_sixth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }

/*-=-=-=-=-=-=-=-=-=-=- */
/* Flip Panel */
/*-=-=-=-=-=-=-=-=-=-=- */

.wrapper{ width: 980; margin: 0 auto; hoverflow: hidden; background-color: inherit;}

.panel {
  float: left;
	margin: 0 auto;
	height: 110px;
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}

.panel .front,
.panel .back {
	text-align: center;
}

.panel .front {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 900;
	text-align: center;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	   -moz-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .6s ease-in-out;
	   -moz-transition: all .6s ease-in-out;
		-ms-transition: all .6s ease-in-out;
		 -o-transition: all .6s ease-in-out;
			transition: all .6s ease-in-out;
}

.panel .back {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 1000;
	-webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	-webkit-transition: all .6s ease-in-out;
	   -moz-transition: all .6s ease-in-out;
		-ms-transition: all .6s ease-in-out;
		 -o-transition: all .6s ease-in-out;
			transition: all .6s ease-in-out;
}
.panel.flip .front {
	z-index: 900;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.panel.flip .back {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}
.box1{
	background-color: #67B7DC;
	width: 200px;
	height: 150px;
	margin: 0 auto;
  float: left;
	padding: 20px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.box2{
	background-color: #6894DC;
	width: 200px;
	height: 150px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
