html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    text-align: center;
    background-color: #51565E;
    font-family: 'Open Sans', sans-serif;
}

/*LOAD-ANIMATION*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	background: url(../img/loader.gif) center no-repeat rgba(81, 86, 94, 0.9);
    background-size: 150px;
    color: #f9d767;
    font-family: 'Noto Serif', serif;
    padding-top: 65vh;
}

/*TYPO*/

h1 {
    color: #f9d767;
    font-size: 8rem;
    text-shadow: 0px 1.5px 0px #BFA251;
    font-family: 'Noto Serif', serif;
}

h2 {
    color: white;
    font-size: 3rem;
    text-shadow: 0px 1.8px 0px #35393f;
    font-family: 'Noto Serif', serif;
}

h3 {
    color: white;
    font-size: 2rem;
    text-shadow: 0px 1.8px 0px #35393f;
    font-family: 'Noto Serif', serif;
}

p {
    color: #E9E9E9;
    font-size: 1.5rem;
    line-height: 2.4rem;
    width: 70%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

b {
    color: #f9d767;
}

.dark-text {
    color: #f9d767;
    font-size: 1.2rem;
}

p > a {
    color: #f9d767;
    transition: ease .3s;
}

p > a > i, p > a > i:hover {
    font-size: 1.2rem;
    text-decoration: none;
}

p > a:hover, p > a:active, p > a:focus {
    color: #f9d767;
    text-decoration: underline;
}

.p_startseite {
    width: 60%;
    margin: 0 auto;
}

.info_text {
    text-align: left;
    padding: 0 8rem 0 2rem;
}

hr {
    width: 25vw;
    height: 1px;
    background: #f9d767;
    border: 0;
}

/**** header***/

header {
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    background: #51565E;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.logo {
    height: 4rem;
    float: right;
    margin: 1rem 3rem;
}

header nav {
    float: left;
}

header ul {
    padding-inline-start: 30px;
}

header li {
    display: inline-block;
    line-height: 6rem;
    margin: 0 3rem 0 0;
    font-size: 1.5rem;
}

header li > a {
    color: white;
    text-decoration: none;
    transition: ease .3s;
}

header li > a:hover, header li > a:focus {
    color: #f9d767;
    text-decoration: none;
}

/*Nav-Link färben, wenn Viewport auf entsprechender Section*/

.active {
    color: #f9d767;
    text-decoration: none; 
}

/**** STARTSEITE ***/

#video-background {
    position: fixed;
    right: 0; 
    width: 100vw;
    top: -4rem;
}

.infobtn, .infobtn:visited {
    display: block;
    color: #f9d767;
    font-size: 1.75rem;
    border: 1px solid #f9d767;
    padding: .5rem 1.5rem;
    margin-top: 4rem;
    width: 15vw;
    text-align: center;
    background-color: transparent;
    transition: ease .3s;
    font-family: 'Noto Serif', serif;
}

.infobtn:hover, .infobtn:active, .infobtn:focus {
    color: #51565E;
    border: 1px solid transparent;
    background-color: #f9d767;
    text-decoration: none;
}

/*Scroll Animation*/

.scroll-downs {
  margin: 2rem auto 0 auto;
  width :34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 1.5px solid #f9d767;
  border-radius: 25px;
  opacity: 1;
  box-sizing: content-box;
    background-color: #51565E;
}
.scroller {
  width: 4px;
  height: 6px;
  border-radius: 25%;
  background-color: #f9d767;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  20% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(10px); opacity: 0.5;}
}

/**** SECTIONS ***/

section:nth-child(odd) {background-color: #51565E;}
section:nth-child(even) {background-color: #6C7178;}

section {
    padding: 4rem 2rem 7rem 2rem;
    height: 100vh;
    width: 100vw;
}

/*Map*/

#mapchart {
  width: 100%;
  height: 500px;
}

/**** Graph1-1 & 1-2***/

#chart1-1 {
    max-width: 50vw;
    height: 40vh;
    margin: 5rem 3rem 0 3rem;
    font-size: 1.6rem;
}

#chart1-2 {
    max-width: 50vw;
    height: 40vh;
    margin: 5rem 3rem 0 3rem;
    font-size: 1.6rem;
}

/**** Graph2***/

#chart2 {
    max-width: 80%;
    height: 45%;
    margin: 35px auto;
}

/**** Graph3***/

#chart3 {
    max-width: 75%;
    height: 50%;
    margin: 35px auto;
}

/**** Graph4***/

#chart4 {
    max-width: 95%;
    height: 60%;
    margin: 35px auto;
}

.hider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6C7178;
    height: 230px;
    z-index: 5;
}


.hider li {
    display: inline-block;
    margin: 0 1%;
    color: white;
    font-weight: bold;
}

/**** Graph5***/

#chart5-1 {
    max-width: 100%;
    margin: 35px auto;
    height: 65vh;
    font-size: 1.4rem;
}

#chart5-2 {
    max-width: 100%;
    margin: 35px auto;
    height: 65vh;
    font-size: 1.4rem;
}

/**** Footer***/

.footerlogo {
    width: 160px;
    margin-top: 6rem;
    transition: ease .2s;
}

.footerlogo:hover {
    animation-name: dhbwlogo;
    animation-duration: .2s;
    animation-timing-function: ease;
    width: 170px;
}

@keyframes dhbwlogo {
    0% {width: 160px;}
    70% {width: 180px;}
    100% {width: 170px;}
}